/* Write your CSS here */

.transaction-container {
  display: flex;
  justify-content: space-between;
  height: 6vh;
  width: 100%;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;

  margin: 0px;
}

.transaction-details {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: 0px;
}

.transaction-amount {
  color: #334155;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.delete-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-right: 30px;
}
.delete-icon {
  width: 20px;
  height: 20px;
}
